:root {
  --clr1: #ddd;
  --clr2: #efefef;
  --clr3: #333;
  --clr4: tomato;
  --border-radius: 10px;
  --text-radius: 50em;
}

::selection {
  background-color: #6a68dd; /* Warna latar kuning */
  color: #f5f5f5; /* Warna teks hitam */
}

a, ul, li {
  text-decoration: none;
}

.bubble-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -10;
  pointer-events: none;
}

.ball {
  position: absolute;
  border-radius: 50%;
  background: var(--ball-color, #88f);
  filter: blur(20px);
  opacity: 0.8;
  animation: floatBubble var(--speed) linear infinite;
}

/* animasi bergerak dari posisi random ke posisi random */
@keyframes floatBubble {
  0% {
    transform: translate(var(--start-x), var(--start-y)) scale(1);
  }
  100% {
    transform: translate(var(--end-x), var(--end-y)) scale(1.2);
  }
}

.my-6 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

p {
  font-size: 15px;
  color: #000;
  margin: 0;
}

.role-text {
  color: #fff;
  font-size: 30px;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: .5s;
}

.btn-square {
  width: 38px;
  height: 38px;
  color: #fff;
  background-color: #426bbf;
}

.btn-square:hover {
  color: #fff;
  transform: scale(1.1);
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}


.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}  


/* ===============================
  NAVBAR
================================ */
.home{
	height: 100vh;
}

.home {
	position: relative;
}

.home h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-cv {
  padding: 10px 55px;
  color: #fff;
  background-color: #426bbf;
}

.btn-cv:hover {
  color: #fff;
  transform: scale(1.1);
}

.text-blue-light {
  color: #a6c3ff;
}

.navbar {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #426bbf;
  color: #fff;
	-webkit-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
	box-shadow: 0 14px 14px -14px rgba(0, 0, 0, .75);
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 99;
}

.hidden {
	display: none;
}

.nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav__link {
	color: var(--shades);
	text-decoration: none;
}

.brand .nav__link,
.nav__items .nav__link {
	padding: 10px 15px;
	text-align: center;
	display: block;
}

.nav__items .nav__link {
	color: var(--shades);
	font-size: 0.99rem;
}

.nav__items .nav__link:hover {
	color: var(--secondary);
}

@media (min-width: 800px) {

	.navbar,
	.nav__items {
		display: flex;
	}

	.navbar {
		flex-direction: column;
		align-items: center;
        justify-content: space-between;
	}

}

@media screen and (max-width: 799px) {
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;
		background-color: #FAFAFB;
		opacity: 0;
		transition: all 0.2s ease;
	}

	.nav .nav__items {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		padding-inline-start: 0;
	}

	.nav .nav__items .nav__item {
		display: block;
		float: none;
		width: 100%;
		text-align: right;
		margin-bottom: 10px;
	}

	.nav .nav__items .nav__item:nth-child(1) a {
		transition-delay: 0.2s;
	}

	.nav .nav__items .nav__item:nth-child(2) a {
		transition-delay: 0.3s;
	}

	.nav .nav__items .nav__item:nth-child(3) a {
		transition-delay: 0.4s;
	}

	.nav .nav__items .nav__item:nth-child(4) a {
		transition-delay: 0.5s;
	}

	.nav .nav__items .nav__item:not(:first-child) {
		margin-left: 0;
	}

	.nav .nav__items .nav__item .nav__link {
		padding: 10px 25px;
		opacity: 0;
		color: var(--shades);
		font-size: 24px;
		font-weight: 600;
		transform: translateY(-20px);
		transition: all 0.2s ease;
	}

	.nav .nav__items .nav__item .nav__link:hover {
		color: var(--secondary);
	}

	.nav__open {
		position: absolute;
		right: 10px;
		top: 16px;
		display: block;
		width: 48px;
		height: 48px;
		cursor: pointer;
		z-index: 9999;
		border-radius: 50%;
	}

	.nav__open i {
		display: block;
		width: 20px;
		height: 2px;
		background-color: var(--secondary);
		border-radius: 2px;
		margin-left: 14px;
	}

	.nav__open i:nth-child(1) {
		margin-top: 16px;
	}

	.nav__open i:nth-child(2) {
		margin-top: 4px;
		opacity: 1;
	}

	.nav__open i:nth-child(3) {
		margin-top: 4px;
	}

}


#nav:checked+.nav__open {
	transform: rotate(45deg);
}

#nav:checked+.nav__open i {
	background-color: var(--shades);
	transition: transform 0.2s ease;
}

#nav:checked+.nav__open i:nth-child(1) {
	transform: translateY(6px) rotate(180deg);
}

#nav:checked+.nav__open i:nth-child(2) {
	opacity: 0;
}

#nav:checked~.nav__item a {
	display: block !important;
}

#nav:checked+.nav__open i:nth-child(3) {
	transform: translateY(-6px) rotate(90deg);
}

#nav:checked~.nav {
	z-index: 9990;
	opacity: 1;
}

#nav:checked~.nav ul li a {
	opacity: 1;
	transform: translateY(0);
}



/* ===============================
  HEADER
================================ */
#home {
  height: 100vh; 
  overflow: hidden; 
  display: flex; 
  align-items: center;
  background: radial-gradient(circle at 30% 20%, rgba(0,150,255,0.35), transparent 40%),
              radial-gradient(circle at 70% 80%, rgba(0,80,255,0.35), transparent 40%),
              linear-gradient(135deg, #0a1a3d, #04276a);
}

.typed-cursor {
  font-size: 30px;
  color: #fff;
}


/* ===============================
  ABOUT
================================ */
/* ::-webkit-scrollbar {
  width: 1px;
  height: 1px;
} */

.about {
  background-color: #f4f6ff;
}

.member-block-image-wrap {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 70%;
}

.member-block-image-wrap:hover .member-block-image {
  /* transform: scale(1.1); */
}

.member-block-image-wrap:hover .social-icon {
  opacity: 1;
}

.member-block-image-wrap .social-icon {
  background-color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 180%);
  opacity: 0;
  transition: all 0.5s;
  padding: 10px 15px;
  width: auto;
}

.member-block-image {
  transition: all 0.3s;
}

.member-block-info {
  padding: 10px;
}

.member-block-info h4,
.member-block-info p {
  text-align: center;
  margin-bottom: 0;
}


.single-post-area .navigation-top .social-icons li {
  display: inline-block;
  margin-right: 15px
}

.single-post-area .navigation-top .social-icons li:last-child {
  margin: 0
}

.single-post-area .navigation-top .social-icons li i,
.single-post-area .navigation-top .social-icons li span {
  font-size: 14px;
  color: #999999
}


.external {
  overflow: hidden;
  height: 100vh;
}

.horizontal-scroll-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  transform: rotate(-90deg) translate3d(0,-100vh,0);
  transform-origin: right top;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  height: 100vw;
  perspective: 1px;
	transform-style: preserve-3d;
  padding-bottom: 10rem;
}
.img-wrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
}

.slower {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(0%) translateY(-10vh);
}
.slower1 {
  transform: rotate(90deg) translateZ(-.25px) scale(1.05) translateX(0%) translateY(8vh);
}
.slower2 {
  transform: rotate(90deg) translateZ(-.3px) scale(1.3) translateX(0%) translateY(2vh);
}
.slower-down {
  transform: rotate(90deg) translateZ(-.2px) scale(1.1) translateX(-118%) translateY(16vh);
}
.vertical {
   transform: rotate(90deg) translateZ(-.15px) scale(1.15) translateX(-20%) translateY(0%) ;
}

.img-wrapper img{
  overflow: hidden;
  display: block;
  padding: 1vh ;
  background: #efecdb;
}

.img-wrapper img {
  max-width: 45vh;
  max-height: 50vh;
  transition: .5s;
  vertical-align: top;
}

a:hover img {
  filter: none;
}

.scroll-info {
  display: flex;
  align-items: center;
}


/* ===============================
  SKILL
================================ */
.Skill {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  padding: 30px 20px;
}

.skill-content {
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgb(245 245 245 / 75%);
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 10px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  text-align: justify;
  align-items: center;
}

/* ===============================
  PENDIDIKAN
================================ */
.pendidikan {
  background-color: #dbe7ff;
}

.pendidikan-content-edu {
  padding: 20px;
}

.pendidikan-content-detail {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  /* background-color: #506899; */
}

.pendidikan-content-edu h2,
.pendidikan-content-detail h2 {
  color: #000;
}

.pendidikan-content-edu p,
.pendidikan-content-detail p {
  color: #252525;
  text-align: justify;
}

/* .box {
  --borderradius: 14px;
  --bgsize: 0.38rem;
  padding: 2rem;
  border: 1px solid;
  position: relative;
  background: white;
  border-radius: var(--borderradius, 14px);
  transform: translateY(-2px);
  z-index: 2;
}

.box::before,
.box::after {
  border-radius: var(--borderradius, 14px);
  background-image: linear-gradient(
    45deg,
    #fff 33.33%,
    rgba(0, 0, 0, 0.95) 33.33%,
    rgba(0, 0, 0, 0.95) 50%,
    #fff 50%,
    #fff 83.33%,
    rgba(0, 0, 0, 0.95) 83.33%,
    rgba(0, 0, 0, 0.95) 100%
  );
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  top: .75rem;
  left: .75rem;
  width: 100%;
  height: 100%;
  background-size: var(--bgsize, 0.28rem) var(--bgsize, 0.28rem);
}

.box::before {
  top: 0rem;
  left: 0rem;
  background: white;
  z-index: -1;
}

ul {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
li {
  color: #000;
  font-weight: 600;
}
ul h6 {
  color: #545454;
}

.nav-pills .nav-link.active {
  background: #426bbf;
  border-radius: 10px;
}

.border-blue {
  border-color: #426bbf !important;
} */


/* ===============================
  KARYA
================================ */
.karya {
  background-color: #dbe7ff;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.team-item {
  box-shadow: 3px 3px 8px 0px #000000a1;
  /* border-radius: 10px; */
  border: solid 5px #f4f4f4;
}
.team-item img {
  transition: .5s;
}

.team-item:hover img {
  opacity: .7;
}

.team-item .team-text {
  position: absolute;
  background: #f4f4f4;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: .5s;
}

.team-item:hover .team-text {
  bottom: 10px;
  opacity: 1;
}

.team-item .team-text div {
  transition: .5s;
}

.team-item:hover .team-text div {
  margin-left: 30px;
}


/* ===============================
  FOOTER
================================ */

body.tight .wrapper {
  transform: translateY(-60px) scale(0.8);
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content ul li {
  display: inline-block;
  list-style: none;
}

@media (max-width: 728px) {
  .wrapper {
    padding: 50px 10px 100px 10px !important;
  }
}

.wrapper {
  transform-origin: center bottom 0px;
  transition: all 0.5s ease 0s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.arrow {
  position: fixed;
  bottom: 50px;
  left: 50%;
  cursor: pointer;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  padding: 20px;
  z-index: 99;
  background-color: var(--clr4);
  border-radius: 50em;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: 20px 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}


/* ===============================
  CUSTOM CARD
================================ */
.custom-card {
  background: linear-gradient(180deg, #ffffff, #0b0015);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 18px;
  padding: 25px;
  transition: all .5s ease;
  cursor: pointer;
}

.custom-card .icon {
  font-size: 32px;
  opacity: 0.9;
}

.custom-card h5 {
  font-weight: 600;
  line-height: 1.4;
}

.custom-card p {
  opacity: 0.85;
}

.custom-card:hover {
  background: linear-gradient(180deg, #4b0082, #2b004d);
  /* border-color: rgba(255, 255, 255, 0.6); */
  box-shadow: 0 0 25px rgba(180, 100, 255, 0.6);
  transform: translateY(-6px);
}

.subtitle {
  background-color: rgba(66, 108, 191, 0.2);
  display: inline-block;
  padding: 5px 12px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 0.75rem;
  margin-bottom: 10px;
}
